<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>web2</title>
</head>
<body>
<h1>[ web2 예제 ]</h1>
<h2>loombok & Logger 사용</h2>
<p><a href="lombok">lombok</a></p>
<p><a href="Logger">Logger</a></p>

<!--이 경로는 지금 컨트롤러를 통하는 경로라서 컨트롤러를 통하게 파람뷰라는 폴더가있어도   @GetMapping("/param/view1") 대로 경로를 지정해야함-->
<p><a href="/param/view1"><h3>서버와 값 주고 받기</h3></a></p>
<p><a href="cookie1"><h3>쿠키 저장</h3></a></p>
<p><a href="cookie2"><h3>쿠키 삭제</h3></a></p>
<p><a href="cookie3"><h3>쿠키 읽기</h3></a></p>
<p><a href="cookie4"><h3>방문횟수 카운트</h3></a></p>
<h2>방문 횟수: <span th:text="${count}">0</span>번</h2>

<h3>타임리프 사용</h3>
<p><a href="th/thymeleaf1"><h3>타임리프 문법1</h3></a></p>
<p><a href="th/thymeleaf2"><h3>타임리프 문법2</h3></a></p>




</body>
</html>