.signup-container {
    width: 350px;
    margin: 50px auto;
    padding: 24px;
    background: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.09);
}
.signup-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 16px;
}
.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
}
.form-group input {
    width: 100%;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    width: 100%;
    background: #1877f2;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
}
button[type="submit"]:hover {
    background: #0059bd;
}


.login-container {
    width: 350px;
    margin: 60px auto;
    padding: 24px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.09);
}
.login-container h2 {
    text-align: center;
    margin-bottom: 18px;
}
.form-group {
    margin-bottom: 16px;
}
.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
}
.form-group input {
    width: 100%;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    width: 100%;
    background: #1877f2;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
}
button[type="submit"]:hover {
    background: #0059bd;
}
